body {
  background-color: #0b6f72;
}

.tituloacerca {
  background-color: rgb(82, 177, 177);
  margin: 20px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.parrafoseccion {
  margin: 10px 10px;
  text-align: center;
}

.seccion-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1f7f97;
  flex-wrap: wrap;
}

.container {
  align-items: center;
  background-color: rgb(53, 151, 146);
}

.conte {
  background-color: aqua;
  margin: 10px 10px;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
  margin: 15px 15px;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(3, 89, 92, 0.5);
  transform: translateY(-15px);
}

.card .head {
  height: 125px;
  width: 100%;
  position: relative;
}

.card .head .circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #0b6f72;
  bottom: 0;
}

.card .head .img {
  width: 150px;
  height: 150px;
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%);
}

.card .head .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card .description {
  height: 200px;
  padding: 40px 20px 20px 20px;
  border-bottom: solid 1px rgba(6, 74, 76, 0.18);
  text-align: center;
}

.card .description .nombre {
  color: #000;
}

.card .description .parrafo {
  margin-top: 20px;
  font-size: 15px;
}
