* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body-contactus {
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #41295a,
    #2f0743
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    #41295a,
    #651ded,
    #2f0743
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titulo-contact {
  padding-left: 130px;
}
.main-contactus {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 1rem;
  padding: 1rem;
}
.main-contacus {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-ContactUs {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.603);
  width: 500px;
  height: 400px;
  padding: 1rem;
  margin: 1rem;
  color: white;
  border-radius: 15px;
}
.sub-container-ContactUs {
  display: flex;
  flex-direction: column;
  border: white;
  border-radius: 15px;
  margin: 0.5rem;
}
.contact-button {
  border: solid white 1px;
  border-radius: 5px;
  padding: 0.5rem;
  width: 80px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.container-ContactUs a {
  display: flex;
  padding-left: 9px;
  margin-top: 5px;
  text-decoration: none;
  color: white;
}

.container-ContactUs .hover-contact {
  width: 100%;
  padding: 5px 20px;
  box-sizing: border-box;
  border: solid 1px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.hover-contact:hover {
  background-color: rgb(188, 255, 175);
}

.contact-label {
  margin-bottom: 0.5rem;
}

.map {
  margin: 1rem;
  border-radius: 15px;
}

footer {
  background-color: rgba(0, 0, 0, 0.603);
}

.card-footer {
  display: flex;
  width: 100px;
  height: 100px;
}

footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: rgba(0, 240, 0, 0.61);
  font-size: 120%;
}
